<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- META -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- TÍTULO -->
  <title>Kenzieflix</title>

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css" />

  <!-- FAVICON -->
  <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.png" />
</head>

<body>

  <!-- CABEÇALHO -->
  <header class="topo">
    <figure>
      <img src="https://raw.githubusercontent.com/Kenzie-Academy-Brasil-Developers/estilizar-layout-plataforma-streaming-sprint-2-RichardBSilva/main/img/logo.png" alt="Kenzieflix" width=250px>
      <figcaption>Kenzieflix</figcaption>
    </figure>
  </header>

  <!-- PÁGINA INICIAL -->
  <div class="pg-home">

    <section>

      <header>
        <div class="hentai">
          <h2>Quem está assistindo?<img src="https://artisticsolutions.com.br/image/cache/catalog/Flushed_Face_Emoji_large-900x800.png" width=40px></h2>
        </div>
      </header>

      <!-- LISTA DE USUÁRIOS -->
      <div class="lista">
        <ul>

          <!-- USUÁRIO 1 -->
          <li>
            <figure>
              <img src="https://raw.githubusercontent.com/Kenzie-Academy-Brasil-Developers/estilizar-layout-plataforma-streaming-sprint-2-RichardBSilva/main/img/avatar1.png" alt="avatar1" width=186px height=150px>
            </figure>

            <div class="descricao">
              <h3>Fernanda</h3>
            </div>
          </li>

          <!-- USUÁRIO 2 -->
          <li>
            <figure>
              <img src="https://raw.githubusercontent.com/Kenzie-Academy-Brasil-Developers/estilizar-layout-plataforma-streaming-sprint-2-RichardBSilva/main/img/avatar.png" alt="nekomaid-chan" width=186px height=150px>
            </figure>

            <div class="descricao">
              <h3>Gabriel</h3>
            </div>
          </li>

          <!-- USUÁRIO 3 -->
          <li>
            <figure>
              <img src="https://raw.githubusercontent.com/Kenzie-Academy-Brasil-Developers/estilizar-layout-plataforma-streaming-sprint-2-RichardBSilva/main/img/avatar2.png" alt="Gustavo" width=186px height=150px>
            </figure>

            <div class="descricao">
              <h3>Gohan-kun</h3>
            </div>
          </li>

          <!-- ADICIONAR PERFIL-->
          <li class="addPerfil">
            <figure>
              <img class="round" src="https://raw.githubusercontent.com/Kenzie-Academy-Brasil-Developers/estilizar-layout-plataforma-streaming-sprint-2-RichardBSilva/main/img/plus-sign.png"alt="Adicionar perfil" width=100px;>
            </figure>

            <div class="descricao">
              <h3>Add profile</h3>
            </div>
          </li>

        </ul>
      </div>

      <footer>
        <div class="buttom"> <button>Gerenciar Perfis</button>
        </div>

      </footer>

    </section>

  </div>

</body>

</html>
